[submodule "engine/dependencies/SDL"]
	path = engine/dependencies/SDL
	url = https://github.com/libsdl-org/SDL
[submodule "engine/dependencies/box2d"]
	path = engine/dependencies/box2d
	url = https://github.com/erincatto/box2d
[submodule "engine/dependencies/Chipmunk2D"]
	path = engine/dependencies/Chipmunk2D
	url = https://github.com/slembcke/Chipmunk2D
